# Postgres
POSTGRES_USER=umami
POSTGRES_PASSWORD=change-me-please
POSTGRES_DB=umami

# Umami app secret used to sign sessions. Generate with: openssl rand -hex 32
APP_SECRET=change-me-too-with-openssl-rand-hex-32
